@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    background-color: #EDF2F8;
    
}

.gridContainer{
    display: grid;
    padding: 3% 10%;
    grid-template-columns: 2fr, 1fr, 1fr;
    gap: 1.5rem;
}

.gridItem{
    background-color: darksalmon;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    min-height: fit-content;
}

.gridItem:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #733FC8;
}
.gridItem:nth-of-type(2){
    max-width: 245px;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #49556B;
}
.gridItem:nth-of-type(3){
    max-width: 240px;
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: #fff;
}
.gridItem:nth-of-type(4){
    max-width: 248px;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #fff;
}
.gridItem:nth-of-type(5){
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #18202D;
}

.profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 192px;
}

.profile div:nth-of-type(2){
    width: 140px;
    justify-self: left;
    align-self: center;
}

.profile div:nth-of-type(1){
    width: 50px;
    justify-self: left;
    align-self: center;
}

.profile img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.smallP{
    font-size: 11px;
    color: #B6BABF;
}

h6{
    color: #B6BABF;
}

.outstandingP, h5{
    color: #E9EFF4;
    font-weight: 600;
} 

.outstandingPDull{
    color: #93979E;
    font-weight: 600;
}

.contentP{
    margin-bottom: 15px;
}