@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #EDF2F8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;
}
.solutionGridContainer{
    max-width: 1440px;
    margin: 5px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.card{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.card__header{
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}
.card__header h3{
    font-size: 15px;
}
.card__header p{
    opacity: 50%; 
}
.card__img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #996ed9;
    margin-right: 15px; 
}
.card__lead{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}
.card__quote{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 70%;;
}
.card--bg-purple{
    background: hsl(263, 55%, 52%);
    color: #fff;
    background-image: url(../testimonial-project/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 7%;
}
.card--bg-gray-blue{
    background: hsl(217, 19%, 35%);
    color: #fff; 
}
.card--bg-black-blue{
    background: hsl(219, 29%, 14%);
    color: #fff; 
}
.card:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/2;
}
.card:nth-of-type(3){
    grid-column: 4/5;
    grid-row: 1/3;
}
.card:nth-of-type(5){
    grid-column: 2/4;
    grid-row: 2/3;
}
footer h5{
    text-align: center;
}

/* media query for a responsive mobile design */
@media (max-width:768px) {
    .solutionGridContainer{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .card:nth-of-type(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .card:nth-of-type(3){
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .card:nth-of-type(5){
        grid-column: 1/2;
        grid-row: 5/6;
    }
}