@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDF2F8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;
}

.solutionGridContainer{
    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
}

.card__header{
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.card__header h3{
    font-size: 15px;
}

.card__header p{
    opacity: 50%; 
}

.card__img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #996ed9;
    margin-right: 15px; 
}